body {
    background-color: rgb(19, 60, 183);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}
h1 {
    font-size: 32px;
    margin: 10px 0;
}
h2 {
    font-size: 58px;
    margin: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
button:hover {
    background: black;
    color: white;
}
button:active {
    transform: scale(0.98);
}